# PostgreSQL
POSTGRES_DB=safe_and_sound
POSTGRES_USER=safeandsound
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

# Cuenta limitada utilizada por el backend
DB_APP_USER=safeandsound_app
DB_APP_PASSWORD=change_me_app

# JWT
JWT_SECRET=clave_secreta_super_cool

# API URL (para que el frontend sepa dónde está el backend)
API_URL=http://localhost:8080